<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-bold">ElectroMart</h1>
      <p class="lead text-body-secondary">Electronic products are devices that use electronic circuits to process and
        control information. They are characterized by their reliability, low power consumption, and ability to save
        energy, materials, space, and human effort.Mobile devices
        Wearables
        TVs, set top boxes, and monitors
        Laptops, tablets, and computers
        Appliances and white goods
        Printers and scanners</p>
      <p>
        <a class="btn btn-primary my-2" routerLink="/seller/product">Product Section</a> &nbsp; &nbsp;
        <a class="btn btn-secondary my-2" routerLink="/sign-up">Register</a>
      </p>
    </div>
  </div>
</section>